/*Responsive Web Design*/
[class*="col-"] {
  float: left;
  padding: 15px;
}

/*Responsive Web Design*/
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

/*Responsive Web Design*/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}

/*Responsive Web Design*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*Background Images*/
body.options{background-image: url(https://amtshows.com/wp-content/uploads/2017/12/all-about-country-music-spotlight-on-guitar-cowboy-boots-and-cowboy-hat.jpg);
     background-repeat:no-repeat;
     background-size: cover;
     max-width: 100% 100%;
     height: 100%;
      }

/*Background Images*/
body{background-image: url(https://thebluegrasssituation.com/wp-content/uploads/2020/04/Bluegrass-Museum_dusk_3_f-e1587740738157.jpg);
     background-repeat:no-repeat;
     background-size: cover;
     max-width: 100% 100%;
     height: 100%;
      }

/*Styling sub/headings*/
  h1{
    position: relative;
     color:white;
     font-size:70px;
     text-align: center;
     }
  h1.options{
    position: relative;
     color:rgba(128, 90, 8, 0.699);
     font-size:70px;
     text-align: center;
  }
  h2{
    color:white;
     font-size:50px;
     
     text-align: center;
  }
  h3{
    color:white;
    font-size:50px;

  }
  h4{
    color: white;
    border: 2px solid black;
    text-align: right;
    position: absolute;
    left: 700px;
    top: 150px;
    font-size: 30px;
  }

  /*Basic styling for all buttons*/
  button{
  border-radius: 12px;
  background-color: lightgrey;
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: "Arial", Helvetica, sans-serif;
  font-weight: bold;
  width: 30%;
  cursor: pointer;
  transition-duration: 0.4s;
  }

  /*Go-back button*/
  button.goback{
    width: 20%; 
  }
  
  /*First floor button*/
  button.first{
    position: absolute;
    top: 50px;
    left: 950px; 
    border-radius: 2px;
    font-size: 30px;
    width: 10%;
  }

  /*Materials button*/
  button.materials{
    position:absolute;
    top: 440px;
    left: 470px;
  }

  /*Virtual-tour button*/
  button.map{
    position:absolute;
    top:340px;
    left:470px;

  }
  
  /*Home button*/
  button.home{
    position: absolute;
    top: 40px;
    left: 1250px;
    border-radius: 2px;
    font-size: 15px;
    width: 8%;
    Height:15%;
    background-image: url(clipart58838.png);
     background-repeat:no-repeat;
     background-size:cover;
}

/*Hover button effects*/
 button:hover {
  background-color: dimgray; 
  color: rgb(39, 150, 173);
}

/*Labels for login screen*/
label {
  font-size: 25px;
}

/*Links*/
a {
  font-size: 18px;
}

/*Map image*/
img.map{
  position: absolute;
  top:170px;
  left:450px
}

/*Home image*/
img.home{
  position: absolute;
    top: 40px;
    left: 1200px;
    width: 10%;
    height: 30%;
}

/*Moving background images*/
.background{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100vh;
  animation: animate 20s ease-in-out infinite;
  background: cover;
}

/*Moving background images*/
.outer{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100vh;
  background: rgba(0,0,0,0.1);
}

/*Moving background images*/
@keyframes animate{
  0%,100%{
    background-image: url(https://thebluegrasssituation.com/wp-content/uploads/2020/04/Bluegrass-Museum_dusk_3_f-e1587740738157.jpg);
  }
    25%{
      background-image: url(https://mk0romakeyuexh0d7e64.kinstacdn.com/wp-content/uploads/2018/10/20181018_bluegrass_hof_am_06.jpg);
    }
   50%{
      background-image: url(https://mk0romakeyuexh0d7e64.kinstacdn.com/wp-content/uploads/2018/10/bluegrass-0U7A9795.jpg);
    }
   75%{
     background-image: url(https://images.squarespace-cdn.com/content/v1/540e6e18e4b0a9fac1c1bd50/1517354236845-0IJETDV91VZ0H1EI7GSY/ke17ZwdGBToddI8pDm48kJLgMdEPicH95jDA3PrlCEwUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcbmXbplPBiLRx8qn3Guc2OAzqMR_OShY43kKr2nWwk_VPP2YvVvCnSWuN6FLgLwXy/5a6d6a8cec53f.image.jpg?format=1500w);
   }
  }

  /*Light Blue background*/
  .exhibit1{
    background-image: url("https://images.unsplash.com/photo-1588420343728-7411f4c87441?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  }
